.App {
  text-align: center;
  padding: 1.6rem;
}
.visibility-btn {
  background-color: rgb(41, 194, 221);
  border-radius: 15px;
  width: 100px;
  height: 30px;
  border-style: hidden;
  font-style: oblique;
  font-size: 20px;
  position: relative;
  left: 16px;
}
img {
  border-radius: 10px;
  box-shadow: 0 16px 60px rgba(0, 0, 0, 0.3);

  transition: all ease;
  color: rgb(88 199 250 / 0%);
  cursor: pointer;
}
img:hover {
  transition: color 1s;
  box-shadow: 0 40px 130px rgba(0, 0, 0, 0.6);
  transform: scale(1.02, 1.02);
  color: rgb(88 199 250 / 100%);
}


